{% extends "base.html" %}
{% load i18n custom_tag %}
{% block title %}Tasks{% endblock title %}
{% block administration_header %}
{% trans "Tasks" %}
{% endblock administration_header %}

{% block task_selected %}
selected
{% endblock task_selected %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<br/>
		{% if not object_list %}

		<div class="alert martop-20 msg">
			{% blocktrans %}
			No Task for you
			{% endblocktrans %}		
		</div>
		{% else %}
		<table class="table table-striped" id="id_content_table">
			<thead>
				<tr>
					<th class="head" scope="col">{% trans "Episode No" %}</th>
					<th class="head" scope="col">{% trans "Submitted at" %}</th>
					<th class="head" scope="col">{% trans "Status" %}</th>
					<th class="head" scope="col">{% trans "Action" %}</th>
				</tr>
			</thead>
			{% for obj in object_list %}
			<tr>
				<td>{{obj.episode_no }}</td>
				<td>{{obj.submitted_at }}</td>
				<td>{{obj.status|get_the_value:status}}</td>
				<td>
					<a {% if obj.action == 'a' %} href="{% url 'add_task' obj.episode_no %}" {% endif %}
					   {% if obj.action == 'p' %} href="{% url 'call_reporting' obj.episode_no %}" class="contact_details" 
					   {% endif %}
					   {% if obj.action == 'c' %} href="{% url 'patient_history' obj.episode_no %}"
					   {% endif %}>
					{{obj.action|get_the_value:action}}
					</a>
				</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
		
		{% if is_paginated %}
			{% include "paginate.html" %}
		{% endif %}
	</div>
</div>
<div id="patient_details" class="modal hide fade" tabindex="-1">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3>{% trans "Patient Details" %}</h3>
	</div>
	<div class="modal-body">
		<p>
			
		</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-success" data-dismiss="modal">{% trans "Close" %}</button>
	</div>
</div>
{% endblock %}

