{% extends "login_base.html" %}
{% load i18n %}
{% block title %}Forgot Password -- Skin Experts{% endblock title %}
{% block administration_header %}
{% trans "Forgot Password" %}
{% endblock administration_header %}
{% block content %}
<div class="span12">
	<form action="" method="post" id="reset_form" class="form-horizontal login">
		{% csrf_token %}
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
				{{ message }}
			</li>
			{% endfor %}
		</ul>
		{% endif %}

		<div class="control-group">
			<label class="text-center">
				<p>
				{% trans "Please enter your email address." %}
				<br />
				{% trans "You will receive a link to create a new password via email." %}
			</p>
			</label>
			<br />
			<div class="controls">
				<input id="email_fp" type="email" name="email" placeholder='{% trans "Enter Your Email" %}'>
				{% if form.email.errors %}
				{% for error in form.email.errors %}
				<label class="error">{{ error|escape }}</label>
				{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<p>
					<input type="submit" value="Submit" id="Submit" name='{% trans "Login" %}' class="btn btn-primary" />
					&nbsp;&nbsp; <a href="{% url 'login' %}">Back to Login</a>
				</p>
				<p>
					&nbsp;
				</p>
				
			</div>
		</div>
	</form>
</div>
{% endblock %}
