{% extends "login_base.html" %}
{% load i18n %}
{% block title %}Password reset Confirm -- Skin Experts{% endblock title %}
{% block administration_header %}
{% if validlink %}
{% trans "Password Reset Confirm" %}
{% else %}
{% trans "Password Reset Unsuccessful" %}
{% endif %}
{% endblock administration_header %}
{% block content %}
<div class="span12">
	<form action="" method="post" id="reset_confirm" class="form-horizontal login">
		{% csrf_token %}
		{% if validlink %}
		<!--<div class="alert alert-info" style="margin:0 15px 10px; padding:0 15px;">
		<p>
		{% trans "Please enter your new password twice. So we can verify you typed it in correctly." %}
		</p>
		</div> -->
		<div class="control-group">
			<label class="control-label">{{ form.new_password1.label_tag }}</label>
			<div class="controls">
				{{ form.new_password1 }}
				{% if form.new_password1.errors %}
				{% for error in form.new_password1.errors %}
				<label class="error">{{ error|escape }}</label>
				{% endfor %}
				{% endif %}

			</div>
		</div>
		<div class="control-group">
			<label class="control-label">{{ form.new_password2.label_tag }}</label>
			<div class="controls">
				{{ form.new_password2 }}
				{% if form.new_password2.errors %}
				{% for error in form.new_password2.errors %}
				<label class="error">{{ error|escape }}</label>
				{% endfor %}
				{% endif %}

			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<p>
					<input type="submit" value='{% trans "Change my password" %}' id="reset_pasword" name="Login" class="btn btn-primary" />
				</p>
				<p>
					&nbsp;
				</p>
			</div>
		</div>
		{% else %}
		<div class="alert alert-error" style="margin:10px 20px;">
			<p>
				{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
			</p>
			<br/>
		</div>
		<P class="pass">
			<a href="{% url 'password_reset' %}"> {% trans "Forgot Password?" %} </a>
		</P>
		{% endif %}
	</form>
</div>
{% endblock %}
