@charset "utf-8";
/* CSS Document */

body {background: #fff;color: #5a5a5a;font-family:Arial, Helvetica, sans-serif;font-size:12px; background-image:url(../images_login/topbg.jpg); background-repeat:repeat-x;}
a{ text-decoration:none; color:#e67624; outline: none;}
a:hover, a:visited{ text-decoration:none; }

.blanklink{ text-decoration:none; color:#000;}
.blanklink a{ text-decoration:none;}
.blanklink a:hover{ text-decoration:underline;}

input, textarea {margin: 0; padding: 0 5px;}
::-webkit-input-placeholder { color: #999999; }
::-moz-placeholder { color: #999999; } /* firefox 19+ */
input:-moz-placeholder { color: #999999; }

/*common css start*/
.marbot30{margin-bottom: 30px;}
.marbot{ margin-bottom:20px;}
.marbot10{ margin-bottom:13px;}
.marbot7{ margin-bottom:7px;}
.martop10{ margin-top:10px;}
.martop30{ margin-top:30px;}
.marlft{ margin-left:27px;}
.floWid{float:left; width:100%;}
.wid48{width: 48%;}
.floWidau{float:left; width:auto;}
.pad2{ padding-top:2px;}
.pad10{ padding-top:10px;}
.padleft3{ padding-left:3px;}
.f_div30{ width:30%; float:right;}
.f_borbot{border-bottom:1px solid #CCC;}
.mar_rgt{ margin-right:5%;}
.txt_cen{ text-align:center;}
.martop_50{margin-top:60px;}
.marauto{margin:0 auto;width:240px;}
.marauto2{margin:0 auto;width:308px;}
.header_txt{font-size: 16px; font-weight: bold; padding-top: 15px;}
.footer_link {color:#333; text-decoration:none; /*font-size:12px;*/ font-size: 16px; }
.footer_link a{color:#333; text-decoration:none; /*font-size:12px;*/ font-size: 16px; }
.footer_link a:hover{color:#ed8c1d; text-decoration:none; /*font-size:12px;*/ font-size: 16px;}
.box_link a{color:#333; text-decoration:none; /*font-size:12px;*/ font-size: 25px; font-family:Arial, Helvetica, sans-serif;}
.box_link a:hover{color:#ed8c1d; text-decoration:none; /*font-size:12px;*/ font-size: 25px; font-family:Arial, Helvetica, sans-serif;}
.font16{font-size: 16px; line-height: 23px;}
.floatr{ float:right; height:auto;}
.width96{width: 96%;}
.marbot19{margin-bottom: 19px;}
/*common css End*/

.policy_header{border-bottom: 1px solid #5A5A5A; padding-bottom: 5px; margin-bottom: 5px;}
/*#logo{height:44px; width:211px; float:left;}*/
#logo{/*height:73px;*/ width:350px; margin: 0 auto;}
#logo a img{border: none;}
#container{margin:0 auto; width:900px;}
.header{float:left; margin-top:30px; width:100%;/* height:82px;*/}
/*.f_topnav_div{float:right; width:70%;}*/
/*.f_topnav_div{float:right; margin-top: -73px;}
.f_topnav_div ul {clear: both;float:right;list-style-type: none;margin-top:10px;}
.f_topnav_div ul li {float: left;list-style:none; margin-bottom:10px; padding-right:15px; padding-left:15px; border-right:1px solid #999;}
.f_topnav_div a{color:#333; text-decoration:none; font-size: 16px; }
.f_topnav_div a:hover{color:#ed8c1d; text-decoration:none; font-size: 16px;}*/
.f_topnav_div{float:left; margin-top: 0px; margin-left: 37%;}
.f_topnav_div ul {clear: both; float:right; list-style-type: none;margin-top:10px;}
.f_topnav_div ul li {float: left; list-style:none; margin-bottom:10px; padding-right:15px; padding-left:15px; border-right:1px solid #999;}
.f_topnav_div a{color:#333; text-decoration:none; font-size: 16px; }
.f_topnav_div a:hover{color:#ed8c1d; text-decoration:none; font-size: 16px;}
.f_top_icon{margin-right:5px; margin-top:2px;}

.f_bodydiv{ float:left; width:100%; }
.f_flashdiv{float:left; width:571px; margin-top:8px;}
.f_logindiv{width:308px; float:right;}
.f_bigtxt{ color:#ea901f; font-size:16px; font-family:Arial, Helvetica, sans-serif; text-decoration:none;  }
.f_bigtxt a{ color:#ea901f; font-size:16px; font-family:Arial, Helvetica, sans-serif;  }
.f_bigtxt a:hover{ color:#ea901f; font-size:16px; font-family:Arial, Helvetica, sans-serif; text-decoration:underline; }

.f_bigredtxt{ color:#dc1c08; font-size:20px; font-family:Arial, Helvetica, sans-serif;  }
.f_login{ width:87%; background-color:#f4f1f3; padding:20px; border:1px solid #cecece; border-radius:6px; float:left; margin-top: 44px;}
.f_login2{ width:265px; background-color:#f4f1f3; padding:20px; border:1px solid #cecece; border-radius:6px; float:left;}
.f_logintxt{ color:#424241; font-size:20px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
.f_key{background:url(../images_login/ficons.png) no-repeat scroll 0px 4px transparent;height:25px; width:24px; float:left;}
.f_loginput{ width:245px; height:25px; border:1px solid #bcbabb; font-size:13px; font-family:Arial, Helvetica, sans-serif;color: #5a5a5a; line-height:21px;}
.f_loginbtn{border-radius: 0px; background-image:url(../images_login/orgbtn_bg.jpg); background-repeat:repeat-x; border:1px solid #e8a960; height:36px;cursor:pointer; padding-left:7px;padding-right:7px; font-size:13px; color:#fff; text-align:center;-webkit-text-shadow: 1px 1px 3px #818282; padding-bottom:4px; /* Safari and Chrome */ text-shadow: 1px 1px 3px #818282; font-weight:bold;}
.f_commubox{ width:250px; border:1px solid #dcdadb; background-color:#fff; height:100%; border-radius:4px;  background-position:bottom; background-image:url(../images_login/homebox_bg.png); background-repeat:repeat-x; padding:15px; float:left;}
.f_bigblacktxt{ font-size:25px; color:#000; font-family:Arial, Helvetica, sans-serif ;  }
.f_boxcommuicon{background:url(../images_login/fcommu_icon.png) no-repeat scroll 203px 14px transparent;width:100%; float:left; min-height:63px;}
.f_boxconticon{background:url(../images_login/fcont_icon.png) no-repeat scroll 203px 14px transparent;width:100%; float:left; min-height:63px;}
.f_boxdocicon{background:url(../images_login/fdoc_icon.png) no-repeat scroll 203px 14px transparent;width:100%; float:left; min-height:63px;}
.f_signup{background:url(../images_login/ficons.png) no-repeat scroll 0px -45px transparent;height:25px; width:33px; float:left;}
/*.f_grey_btn{ background-image:url(../images_login/grey_btnbg.jpg); background-repeat:repeat-x; border:1px solid #d6d6d6;  cursor:pointer; padding-left:7px;padding-right:7px; font-size:13px; color:#515050; text-align:center;-webkit-text-shadow: 1px 1px 3px #818282;*/ /* Safari and Chrome */ /*text-shadow: 1px 1px 3px #818282; height:36px; font-weight:bold; padding-bottom:4px;}*/
.f_grey_btn{ background-image:url(../images_login/grey_btnbg.jpg); background-repeat:repeat-x; border:1px solid #d6d6d6; cursor:pointer; padding-left:2%;padding-right:2%; font-size:13px; color:#515050; text-align:center;padding-top:8px;-webkit-text-shadow: 1px 1px 3px #818282; /* Safari and Chrome */ text-shadow: 1px 1px 3px #818282; height:26px; font-weight:bold; width:auto; float:left;}

.name_wid{width: 114px;}

.f_textdiv{float:left; width:63%; margin-top:8px; margin-bottom:10px;}
.f_signupdiv{width:308px; float:right;}
.footer{float:left; text-align:center; width:100%; font-size:13px; color:#5d5d5d; margin-top:50px;}
.redtxt{ font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#c00000; font-weight:bold; font-style:italic;}
.blackxt{ font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000; font-weight:bold; font-style:italic;}
.orgtxt{ font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#EA901F; font-weight:bold;}
.commuicon_div{float:left; width:7%; margin-bottom:10px;}
.commutxt_div{float:left; width:93%;}
.commu_txt{ font-size:16px;}
.prici_div{ float:left; width:30%;}
h1{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#000; font-weight:bold; margin-top:0px; margin-bottom:10px;}
.redlink{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#c00000; font-weight:bold;}
.redlink a{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#c00000; font-weight:bold;}
.redlink a:hover{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#c00000; font-weight:bold;}

.con_pop_div{float:left; width:240px; border:2px solid #e7e7e9; padding:10px;}
.con_pop_logodiv{float:left; width:229px; margin-left:5px; background-image:url(../images_login/logo_pop.jpg); background-repeat:no-repeat; height:78px; margin-bottom:7px;}
.con_pop_maindiv{float:left; width:229px; margin-left:5px;  margin-bottom:7px; text-align:center;}
.contact_bigtxt{font-family:Arial, Helvetica, sans-serif; font-size:18px;color:#000;}

.prici_div{ float:left; width:65%; margin-right:25px; border-radius:5px;border:1px solid #d5d5d5; padding:15px;}
.prici_divrgt{ float:left; width:25%; border-radius:5px;border:1px solid #d5d5d5; padding:15px; height: 436px;}
.price_txtcen{ text-align:center;}
.price ul{}
.price ul li{ font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:27px; font-weight:bold;}
.price_div40{ float:left; width:45%; margin-right:20px;}
.price_div50{ float:left; width:50%; }
.login_label_txt{font-size: 12px;}

/************************************************* Main Tab Start************************************************/
.subnav ul{clear: both;text-align:center;/*float: left;*/list-style-type: none;margin-top:0px; height:32px; background-color:#605e5f; width:99%;padding-left: 7px;}
.subnav ul li{/*float: left;*/list-style:none; line-height: 30px; padding-right:7px;  padding-left:7px; display: inline-block;}
.subnav ul li a{ color:#bdbbbc; text-decoration:none;padding-right:14px;  padding-left:3px;border-right:1px solid #e7e7e7; }
.subnav ul li a:hover{ color:#e7e7e7; text-decoration:none;padding-right:14px;  padding-left:3px;font-weight:normal;}
.subnav .active{ color:#e7e7e7;font-weight:bold;padding-right:14px;  padding-left:3px;border-right:1px solid #e7e7e7;}
#tab_maindiv{float:left; margin-left:20%; margin-top:18px; width:90%; margin-bottom: 10px;}
#nav, #nav ul{margin:0;padding:0;list-style-type:none;list-style-position:outside;position:relative;line-height:39px;width:auto;}
#nav a:link, #nav a:active, #nav a:visited{display:block;padding:0px 5px;border:1px solid #d5d5d5;color:#333;font-size:18px;font-family:Arial, Helvetica, sans-serif;
text-decoration:none;border-radius:5px 5px 0px 0px;padding-left:16px;padding-right:16px;border-bottom:0px;background-image:url(../images/tab_bg1.jpg); background-repeat:repeat-x;box-shadow: 3px -5px 10px #e7e7e7;width:146px;}
.mad ul{}
.mad ul li{background-color:#F00 !important;background-image:none !important;}
.mad li{background-color:#F00 !important;background-image:none !important;}
.mad a:link{display:block;padding:0px 5px;border:1px solid #d5d5d5;color:#fff;font-size:18px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;
background-image:none !important;border-radius:5px 5px 0px 0px;padding-left:16px;padding-right:16px;border-bottom:0px;background-color:#F00 !important;}
.mad a:hover{background-color:#3F0;color:#fff !important;}
#nav li{float:left;position:relative;margin-left: 8px;}
#nav ul {position:absolute;width:auto;top:40px;display:none;}
#nav li ul a{width:200px;float:left;}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{display:none; background-color:#099;}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{display:block;z-index:1000;}
#nav a:hover{display:block;padding:0px 5px;border:1px solid #ccc;color:#000 !important;font-size:18px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;
background-image:url(../images/tab_bg2.jpg); background-repeat:repeat-x;border-radius:5px 5px 0px 0px;padding-left:16px;padding-right:16px;border-bottom:0px;
background-color:#605e5f !important;box-shadow: 3px -5px 10px #e7e7e7;}
.active_contract{display:block;padding:0px 5px;border:1px solid #605e5f;color:#FFF !important;font-size:18px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;background-image:none !important;border-radius:5px 5px 0px 0px;padding-left:37px;padding-right:0px;border-bottom:0px;background-color:#605e5f !important;box-shadow: 3px -5px 10px #e7e7e7;width:139px;}
.active_commu{display:block;padding:0px 5px;border:1px solid #605e5f;color:#FFF !important;font-size:18px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;
background-image:none !important;border-radius:5px 5px 0px 0px;padding-left:16px;padding-right:16px;border-bottom:0px;background-color:#605e5f !important;box-shadow: 3px -5px 10px #e7e7e7;width:146px;}
.active_doc{display:block;padding:0px 5px; border:1px solid #605e5f;color:#FFF !important;font-size:18px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;
background-image:none !important;border-radius:5px 5px 0px 0px;padding-left:26px;padding-right:0px;border-bottom:0px;background-color:#605e5f !important;
box-shadow: 3px -5px 10px #e7e7e7;width:149px;}
.commu_icon{background:url(../images/icons.png) no-repeat scroll 0px -257px transparent; height:36px; width:33px; border-bottom:0px; float:left;}
.contract_icon{background:url(../images/icons.png) no-repeat scroll  -58px -256px  transparent; height:35px; width:33px; border-bottom:0px; float:left;margin-left: 19px;}
.contract_icon2{background:url(../images/icons.png) no-repeat scroll  -58px -256px  transparent; height:35px; width:33px; border-bottom:0px; float:left;}
.document_icon{background:url(../images/icons.png) no-repeat scroll  -108px -256px  transparent; height:36px; width:34px; border-bottom:0px; float:left;margin-left:11px;}
.document_icon2{background:url(../images/icons.png) no-repeat scroll  -108px -256px  transparent; height:36px; width:34px; border-bottom:0px; float:left;margin-left:2px;}
/************************************************* Main Tab End************************************************/

/* Info page css start */
.info_page ul{margin-left: 10px; padding-left: 0px;}
.info_page ul li{margin-bottom: 15px; font-size: 16px; line-height: 23px;}
.info_page ol{margin-left: 10px; padding-left: 0px;}
.info_page ol li{margin-bottom: 15px; font-size: 16px; line-height: 23px;}
/* Info page css end */


 @media (max-width: 900px) {
#container{margin:0 auto; width:auto;}
.header{float:left; margin-top:30px; width:100%;}
/*#logo{ height:44px; width:151px;float:left;}*/
#logo{height:73px; width: 350px; margin: 0 auto;}	
#logo img { height: auto; width: 100%; }
.marlft{ margin-left:0px;}
.f_commubox{ margin-bottom:10px;}
.f_flashdiv{ display:none;}	
.f_newlogindiv{width:90%; float:left; padding-left:0px;}
.f_logindiv{width:308px; float:right;}
.f_textdiv{float:left; width:auto; margin-top:8px;}
.f_signupdiv{width:308px; float:left; }
.commuicon_div{float:left; width:20%; margin-bottom:10px;}
.commutxt_div{float:left; width:80%;}

}

@media (max-width: 860px) {
	
	#container{margin:0 auto; width:auto;}
.header{float:left; margin-top:30px; width:100%;}
/*#logo{ height:44px; width:151px;float:left;}*/
#logo{height:73px; width:350px; margin: 0 auto;}	
#logo img { height: auto; width: 100%; }
.marlft{ margin-left:0px;}
.f_commubox{ margin-bottom:10px;}
.f_flashdiv{ display:none;}
.f_newlogindiv{width:90%; float:right; padding-left:0px;}
.f_textdiv{float:left; width:auto; margin-top:8px;}	
.f_signupdiv{width:308px; float:left;}
.commuicon_div{float:left; width:20%; margin-bottom:10px;}
.commutxt_div{float:left; width:80%;}

}




@media (max-width: 600px) {
	
#container{margin:0 auto; width:auto;}
.header{float:left; margin-top:30px; width:100%;}
/*#logo{ height:44px; width:151px;float:left;}*/
#logo{height:73px; width:350px; margin: 0 auto;}	
#logo img { height: auto; width: 100%; }
.marlft{ margin-left:0px;}
.f_commubox{ margin-bottom:10px;}
.f_flashdiv{ display:none;}	
.f_newlogindiv{width:90%; float:right; padding-left:0px;}
.f_textdiv{float:left; width:auto; margin-top:8px;}	
.f_signupdiv{width:308px; float:left; }
.commuicon_div{float:left; width:20%; margin-bottom:10px;}
.commutxt_div{float:left; width:80%;}
.prici_div{ float:left; width:auto;}

}


/* css for ipod start*/
@media only screen
and (max-device-width : 320px)and (orientation:portrait)

{
/*@media only screen and (max-width:320px) {*/
body {background: #fff;color: #5a5a5a;font-family:Arial, Helvetica, sans-serif;font-size:12px; background-image:none; background-repeat:repeat-x; }
	#container{margin:0 auto; width:auto; zoom:100%; }
	.floWid{float:left; width:100%;}
/*.header{float:left; margin-top:30px; width:100%;}*/
/*#logo{ height:44px; width:151px;float:left;}*/
/*#logo{height:73px; width:350px; margin: 0 auto;}	
#logo img { height: auto; width: 100%; }*/
.marlft{ margin-left:0px;}
/*.f_commubox{ margin-bottom:10px;margin-left:12px;}*/
.f_commubox{margin: 0 auto; float: none; margin-bottom: 10px; clear: both; height: 40px;}
.f_flashdiv{ display:none;}	
/*.f_topnav_div{float:left; width:auto;}
.f_topnav_div ul {clear: both;float:right;list-style-type: none;margin-top:10px; margin-left:-34px;}
.f_topnav_div ul li {float: left;list-style:none; margin-bottom:10px; padding-right:7px; padding-left:7px; border-right:1px solid #999;}
.f_topnav_div a{color:#333; text-decoration:none; font-size:11px; }
.f_topnav_div a:hover{color:#ed8c1d; text-decoration:none;font-size:11px; }*/
.f_login{ width:80%; background-color:#f4f1f3; padding:20px; border:1px solid #cecece; border-radius:6px; float:left; margin-left:12px;}
.f_login2{ width:265px; background-color:#f4f1f3; padding:20px; border:1px solid #cecece; border-radius:6px; float:left;}
/*.f_logindiv{width:auto; float:left; margin-left:12px;}*/
.f_logindiv{margin: 0 auto; float: none; margin-bottom: 10px;}
/*.f_signupdiv{width:335px; float:left; }*/
.f_signupdiv{margin: 0 auto; float: none;}
.mar_lft{margin-left:5px;}
.marauto{float:left;margin-left:16%; }
.new_flowid{float:left;width:98%;}
.commu_txt{ font-size:12px;}
.redtxt{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#c00000; font-weight:bold; font-style:italic;}
.blackxt{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; font-weight:bold; font-style:italic;}
.prici_divrgt{ float:left; width:90%; border-radius:5px;border:1px solid #d5d5d5; padding:15px; height: 436px; margin-top:15px;}
body {background: #fff;color: #5a5a5a;font-family:Arial, Helvetica, sans-serif;font-size:100%; zoom:100%; background-image:url(../images_login/topbg1.jpg); background-repeat:repeat-x; height:96px; background-color:#FFF;}
.f_logintxt{ color:#424241; font-size:20px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
.login_small_txt{font-size: 12px;}
.login_label_txt{font-size: 25px;}
.commuicon_div{float:left; width:17%; margin-bottom:10px;}
.commutxt_div{float:left; width:83%;}
.prici_div{ float:left; width:90%;}
.price_div50{ float:left; width:45%; }
.footer { text-align:center; text-indent:20px;zoom:250%;}
.zoom0{zoom: 0;}

/* css for mobile tab start*/
	        
.commu_icon{background:url(../images/icons.png) no-repeat scroll 0px -257px transparent; height:36px; width:33px; border-bottom:0px; float:left;margin-left: 18px;}
.contract_icon{background:url(../images/icons.png) no-repeat scroll  -58px -256px  transparent; height:35px; width:33px; border-bottom:0px; float:left;margin-left: 18px;}
.contract_icon2{background:url(../images/icons.png) no-repeat scroll  -58px -256px  transparent; height:35px; width:33px; border-bottom:0px; float:left;margin-left: 18px;}
.document_icon{background:url(../images/icons.png) no-repeat scroll  -108px -256px  transparent; height:36px; width:33px; border-bottom:0px; float:left;margin-left:18px;}
.document_icon2{background:url(../images/icons.png) no-repeat scroll  -108px -256px  transparent; height:36px; width:33px; border-bottom:0px; float:left;margin-left:18px;}


#nav a:link, #nav a:active, #nav a:visited{display:block;padding:0px 5px;border:1px solid #d5d5d5;color:#333;font-size:10px;font-family:Arial, Helvetica, sans-serif;
text-decoration:none;border-radius:5px;border-bottom:0px;background-image:url(../images/small_tab_bg.jpg);box-shadow: 3px -5px 10px #e7e7e7;width:65px; font-weight:bold; height:53px;}
#nav a:hover{display:block;padding:0px 5px;border:1px solid #ccc;color:#000 !important;font-size:10px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;
background-image:url(../images/small_tab_bg2.jpg); background-repeat:repeat-x;border-radius:5px;border-bottom:0px;
box-shadow: 3px -5px 10px #e7e7e7;font-weight:bold;height:53px;}

.active_contract{display:block;padding:0px 5px;border:1px solid #605e5f;color:#333;font-size:10px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;border-radius:5px 5px 5px 5px;border-bottom:0px;background-color:#605e5f;box-shadow: 3px -5px 10px #e7e7e7;width:65px; font-weight:bold; height:53px;}
.active_commu{display:block;padding:0px 5px;border:1px solid #605e5f;color:#333;font-size:10px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;border-radius:5px 5px 5px 5px;border-bottom:0px;background-color:#605e5f;box-shadow: 3px -5px 10px #e7e7e7;width:65px; font-weight:bold; height:53px;}
.active_doc{display:block;padding:0px 5px;border:1px solid #605e5f;color:#333;font-size:10px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;border-radius:5px 5px 5px 5px;border-bottom:0px;background-color:#605e5f;box-shadow: 3px -5px 10px #e7e7e7;width:65px; font-weight:bold; height:53px;}



#tab_maindiv{float:left; margin-left:18%; margin-top:5px; width:82%; margin-bottom: 10px;}
#nav, #nav ul{margin:0;padding:0;list-style-type:none;list-style-position:outside;position:relative;line-height:14px;width:auto; text-align:center;}
#nav li{float:left;position:relative;margin-left:6px;}


.ver_div{float:left; width:100%; margin-bottom: -10px; /*position:absolute; top:31%;*/}

.ver_subnav ul{list-style-type: none;margin-top:0px;  background-color:#605e5f;  height:auto;font-size:11px; margin-left:0px; padding-left:0px; padding-right:4px;}
.ver_subnav ul li{list-style:none; display: inline; line-height: 22px; padding-right:10px;  padding-left:10px; border-right:1px solid #7c7b7c;   }
.ver_subnav ul li a{ color:#e7e7e7; text-decoration:none;padding-right:0px;  padding-left:0px;border-right:0px solid #e7e7e7;}
.ver_subnav ul li a:hover{ color:#bdbbbc; text-decoration:none;padding-right:0px;  padding-left:0px;}


.subcontract_textarea{ resize: none; width:95%;border:1px solid #ccc; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:333;height:60px;}
.create_dist_grp{float:left; width:100%;}
.subcontract_input{ width:90%;}
.client_cont_summ_div{float:left; width:100%; margin-right:3%; margin-bottom:1%;}



 .pro_sum_cel2{width:30%; min-height:30px; text-align:left; padding-left:2%;}

 .box_bor{margin-top:5px; border:1px solid #d1d1d1; padding:1%; height:auto;}
  
  .grey_btn{ background-image:url(../images/grey_btnbg.jpg); background-repeat:repeat-x; border:1px solid #d6d6d6; margin-top:10px;-webkit-text-shadow: 1px 1px 3px #818282; /* Safari and Chrome */ text-shadow: 1px 1px 3px #818282; font-weight:bold;}






/*.sub_menu_mob {position:absolute; visibility:visible; top:34.5%; width:30%;}*/
.ver_contract{left:23%; }
.ver_document{left:40%;}
/* css for mobile tab end*/

#logo{/*height:73px;*/ width:350px; float: left;}
.header{float:left; margin-top:30px; width:350px; margin-left: 4%;}
.f_topnav_div{float:left; margin-top: 0px; margin-left: 17%;}
.f_topnav_div ul {clear: both; float:right; list-style-type: none;margin-top:10px;}
.f_topnav_div ul li {float: left; list-style:none; margin-bottom:10px; padding-right:15px; padding-left:15px; border-right:1px solid #999;}
.f_topnav_div a{color:#333; text-decoration:none; /*font-size:12px;*/ font-size: 16px; }
.f_topnav_div a:hover{color:#ed8c1d; text-decoration:none; /*font-size:12px;*/ font-size: 16px;}
.center_ipad{text-align: center;}
.f_loginput{ width:230px; height:25px; border:1px solid #bcbabb; font-size:13px; font-family:Arial, Helvetica, sans-serif;color: #5a5a5a; line-height:21px;}
.name_wid{width: 106px;}
.wid48{width: 48%;}
.f_bodydiv{ float:left; width:98%; margin-left: 1%;}
#bottom_box{display: none;}
}

@media only screen
and (max-device-width : 320px)and (orientation:landscape)
{
	 body {background: #fff;color: #5a5a5a;font-family:Arial, Helvetica, sans-serif; font-size:12px; zoom:150%; background-image:url(../images_login/topbg.jpg); background-repeat:repeat-x;}
	#container{margin:0 auto; width:auto; }
	/*.header{float:left; margin-top:30px; width:100%;}*/
	/*#logo{ height:44px; width:151px;float:left;}*/
	/*#logo{height:73px; width:350px; margin: 0 auto;}	
	#logo img { height: auto; width: 100%; }*/
	.marlft{ margin-left:0px;}
	/*.f_commubox{ margin-bottom:10px;margin-left:12px;}*/
	.f_commubox{margin: 0 auto; float: none; margin-bottom: 10px; clear: both; height: 40px;}
	.f_flashdiv{ display:none;}	
	.f_login{ width:80%; background-color:#f4f1f3; padding:20px; border:1px solid #cecece; border-radius:6px; float:left; margin-left:12px;}
	.f_login2{ width:265px; background-color:#f4f1f3; padding:20px; border:1px solid #cecece; border-radius:6px; float:left;}
	.f_bodydiv{zoom: 160%;}
	/*.f_logindiv{width:auto; float:left; margin-left:12px;}*/
	.f_logindiv{margin: 0 auto; float: none; margin-bottom: 10px; text-align: center;}
	/*.f_signupdiv{width:335px; float:left;}*/
	.f_signupdiv{margin: 0 auto; float: none;}
	.mar_lft{margin-left:5px;}
	.marauto{float:left;margin-left:16%; }
	.new_flowid{float:left;width:98%;}
	.commu_txt{ font-size:12px;}
	.redtxt{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#c00000; font-weight:bold; font-style:italic;}
	.blackxt{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; font-weight:bold; font-style:italic;}
	.prici_divrgt{ float:left; width:90%; border-radius:5px;border:1px solid #d5d5d5; padding:15px; height: 436px; margin-top:15px;}
	
	.f_logintxt{ color:#424241; font-size:20px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
	.login_small_txt{font-size: 12px;}
	.login_label_txt{font-size: 25px;}
	.commuicon_div{float:left; width:16%; margin-bottom:10px;}
    .commutxt_div{float:left; width:84%;}
	.prici_div{ float:left; width:90%;zoom:250%;}
	.price_div50{ float:left; width:45%; }
	.footer { text-align:center; text-indent:20px;}
	#tab_maindiv{float:left; margin-left:6%; margin-top:18px; width:90%; margin-bottom: 10px;}
	
	#logo{/*height:73px;*/ width:350px; float: left;}
	.header{float:left; margin-top:30px; width:350px; margin-left: 23%;}
	.f_topnav_div{float:left; margin-top: 0px; margin-left: 17%;}
	.f_topnav_div ul {clear: both; float:right; list-style-type: none;margin-top:10px;}
	.f_topnav_div ul li {float: left; list-style:none; margin-bottom:10px; padding-right:15px; padding-left:15px; border-right:1px solid #999;}
	.f_topnav_div a{color:#333; text-decoration:none; /*font-size:12px;*/ font-size: 16px; }
	.f_topnav_div a:hover{color:#ed8c1d; text-decoration:none; /*font-size:12px;*/ font-size: 16px;}
	.center_ipad{text-align: center;}
	.f_loginput{ width:230px; height:25px; border:1px solid #bcbabb; font-size:13px; font-family:Arial, Helvetica, sans-serif;color: #5a5a5a; line-height:21px;}
	.name_wid{width: 106px;}
	.wid48{width: 48%;}
	
	.f_bigtxt{ color:#ea901f; font-size:0.78em; font-family:Arial, Helvetica, sans-serif; text-decoration:none;  }
	.f_bigtxt a{ color:#ea901f; font-size:16px; font-family:Arial, Helvetica, sans-serif;  }
	.f_bigtxt a:hover{ color:#ea901f; font-size:16px; font-family:Arial, Helvetica, sans-serif; text-decoration:underline; }
	
	.f_bodydiv{ float:left; width:98%; margin-left: 1%;}
	#bottom_box{display: none;}
}
/* css for ipod End*/



.error{
	color : #CC0000 ;

}

/* css by developer start */
.padding_left_35{
    padding-left:35%;
    float:none;
}
.info{
    color:green;
    font-weight : bold;
}
#logo.float_none {float:none;}
/* css by developer ends */


/*----------Slider CSS Start----------*/
.bx-next {
    background: url(../images_login/icon_arrow_right.png) no-repeat scroll 0 -31px transparent;
    height: 31px;
    position: absolute;
    /* right: -40px; */
    right: 0px;
    text-indent: -999999px;
    /* top: 78px; */
    top: 450px;
    width: 31px;
}

a {
    text-decoration: none;
}


.bx-prev {
	
    background: url(../images_login/icon_arrow_left.png) no-repeat scroll 0 -31px transparent;
    height: 31px;
    /* left: -55px; */
    left: 0px;
    position: absolute;
    text-indent: -999999px;
    /* top: 78px; */
    top: 450px;
    width: 31px;
}

a {
    text-decoration: none;
}


.bx-pager .pager-active, .bx-pager a:hover {
    color: #DE312A;
    text-decoration: none;
}

.bx-pager a {
    font-size: 16px;
    padding: 0 10px;
}


.bx-wrapper {
    margin: 0 auto;
    text-align: center;
}

/*----------Slider CSS End----------*/

.info-box {
	float: left;
	width: 70%;
}

.fontSize19{
	font-size: 19px;
}

#slider1{
	padding: 0px;
}
/*------------------css for ipad START----------------------*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    body { /* background-color:green;*/ }
	.en_box{zoom:100%; }
	
.footer { text-align:center;}
#top_box{display: none;}
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    body { /*background-color:black;*/ zoom: 60%;}
	/*.en_box{zoom:50%;}*/
	.footer { text-align:left;}
	.f_flashdiv{display: none;}
	.f_signupdiv{margin: 0 auto; float: none;}
	.f_logindiv{margin: 0 auto; float: none; margin-bottom: 10px;}
	.f_commubox{margin: 0 auto; float: none; margin-bottom: 10px; clear: both; height: 40px;}
	.footer{float:left; text-align:center; width:100%; font-size:11px; color:#5d5d5d; margin-top:50px;}
	.commuicon_div{width: 9%;}
	.commutxt_div{width: 91%;}
	.f_bodydiv{ float:left; width:98%; margin-left: 1%;}
	
	/************************************************* Main Tab Start************************************************/
	.subnav ul{clear: both;text-align:center;/*float: left;*/list-style-type: none;margin-top:0px; height:32px; background-color:#605e5f; width:99%;padding-left: 7px;}
	.subnav ul li{/*float: left;*/list-style:none; line-height: 30px; padding-right:7px;  padding-left:7px; display: inline-block;}
	.subnav ul li a{ color:#bdbbbc; text-decoration:none;padding-right:14px;  padding-left:3px;border-right:1px solid #e7e7e7; }
	.subnav ul li a:hover{ color:#e7e7e7; text-decoration:none;padding-right:14px;  padding-left:3px;font-weight:normal;}
	.subnav .active{ color:#e7e7e7;font-weight:bold;padding-right:14px;  padding-left:3px;border-right:1px solid #e7e7e7;}
	#tab_maindiv{float:left; margin-left:6%; margin-top:18px; width:94%; margin-bottom: 10px;}
	#nav, #nav ul{margin:0;padding:0;list-style-type:none;list-style-position:outside;position:relative;line-height:39px;width:auto;}
	#nav a:link, #nav a:active, #nav a:visited{display:block;padding:0px 5px;border:1px solid #d5d5d5;color:#333;font-size:17px;font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;border-radius:5px 5px 0px 0px;padding-left:16px;padding-right:16px;border-bottom:0px;background-image:url(../images/tab_bg1.jpg); background-repeat:repeat-x;box-shadow: 3px -5px 10px #e7e7e7;width:146px;}
	.mad ul{}
	.mad ul li{background-color:#F00 !important;background-image:none !important;}
	.mad li{background-color:#F00 !important;background-image:none !important;}
	.mad a:link{display:block;padding:0px 5px;border:1px solid #d5d5d5;color:#fff;font-size:18px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;
	background-image:none !important;border-radius:5px 5px 0px 0px;padding-left:16px;padding-right:16px;border-bottom:0px;background-color:#F00 !important;}
	.mad a:hover{background-color:#3F0;color:#fff !important;}
	#nav li{float:left;position:relative;margin-left: 8px;}
	#nav ul {position:absolute;width:auto;top:40px;display:none; line-height: 20px; }
	#nav li ul a{width:200px;float:left;}
	#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{display:none; background-color:#099;}
	#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{display:block;z-index:1000;}
	#nav a:hover{display:block;padding:0px 5px;border:1px solid #ccc;color:#000 !important;font-size:18px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;
	background-image:url(../images/tab_bg2.jpg); background-repeat:repeat-x;border-radius:5px 5px 0px 0px;padding-left:16px;padding-right:16px;border-bottom:0px;
	background-color:#605e5f !important;box-shadow: 3px -5px 10px #e7e7e7;}
	.active_contract{display:block;padding:0px 5px;border:1px solid #605e5f;color:#FFF !important;font-size:18px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;background-image:none !important;border-radius:5px 5px 0px 0px;padding-left:37px;padding-right:0px;border-bottom:0px;background-color:#605e5f !important;box-shadow: 3px -5px 10px #e7e7e7;width:139px;}
	.active_commu{display:block;padding:0px 5px;border:1px solid #605e5f;color:#FFF !important;font-size:18px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;
	background-image:none !important;border-radius:5px 5px 0px 0px;padding-left:16px;padding-right:16px;border-bottom:0px;background-color:#605e5f !important;box-shadow: 3px -5px 10px #e7e7e7;width:146px;}
	.active_doc{display:block;padding:0px 5px; border:1px solid #605e5f;color:#FFF !important;font-size:18px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;
	background-image:none !important;border-radius:5px 5px 0px 0px;padding-left:26px;padding-right:0px;border-bottom:0px;background-color:#605e5f !important;
	box-shadow: 3px -5px 10px #e7e7e7;width:149px;}
	.commu_icon{background:url(../images/icons.png) no-repeat scroll 0px -257px transparent; height:36px; width:33px; border-bottom:0px; float:left;}
	.contract_icon{background:url(../images/icons.png) no-repeat scroll  -58px -256px  transparent; height:35px; width:33px; border-bottom:0px; float:left;margin-left: 19px;}
	.contract_icon2{background:url(../images/icons.png) no-repeat scroll  -58px -256px  transparent; height:35px; width:33px; border-bottom:0px; float:left;}
	.document_icon{background:url(../images/icons.png) no-repeat scroll  -108px -256px  transparent; height:36px; width:34px; border-bottom:0px; float:left;margin-left:11px;}
	.document_icon2{background:url(../images/icons.png) no-repeat scroll  -108px -256px  transparent; height:36px; width:34px; border-bottom:0px; float:left;margin-left:2px;}
	/************************************************* Main Tab End************************************************/
	
	#logo{/*height:73px;*/ width:350px; float: left;}
	.header{float:left; margin-top:30px; width:350px; margin-left: 23%;}
	.f_topnav_div{float:left; margin-top: 0px; margin-left: 17%;}
	.f_topnav_div ul {clear: both; float:right; list-style-type: none;margin-top:10px;}
	.f_topnav_div ul li {float: left; list-style:none; margin-bottom:10px; padding-right:15px; padding-left:15px; border-right:1px solid #999;}
	.f_topnav_div a{color:#333; text-decoration:none; /*font-size:12px;*/ font-size: 16px; }
	.f_topnav_div a:hover{color:#ed8c1d; text-decoration:none; /*font-size:12px;*/ font-size: 16px;}
	
	.center_ipad{text-align: center;}
	#bottom_box{display: none;}
}
/*------------------css for ipad END----------------------*/
@media only screen
and (min-device-width : 320px)and (orientation:portrait)
 {
	#container{margin:0 auto; width:auto; zoom:250%; }
}


/*-------------Commented on 8th Feb 13 to fix chrome isssue-------------------*/
/*@media (min-device-width:1024px) and (max-width:509px),
and (-webkit-min-device-pixel-ratio: 2)
(max-device-width:480px) and (orientation:portrait),
(max-device-width:480px) and (orientation:landscape),
{
	
body {background: #fff;color: #5a5a5a;font-family:Arial, Helvetica, sans-serif;font-size:12px; background-image:url(../images_login/topbg.jpg); background-repeat:repeat-x;}	
#container{margin:0 auto; width:auto; }
.header{float:left; margin-top:30px; width:100%;}
#logo{height:73px; width:350px; margin: 0 auto;}	
#logo img { height: auto; width: 100%; }
.marlft{ margin-left:0px;}
.f_commubox{ margin-bottom:10px;margin-left:12px;}
.f_flashdiv{ display:none;}	
.f_topnav_div{float:left; width:auto;}
.f_topnav_div ul {clear: both;float:right;list-style-type: none;margin-top:10px;}
.f_topnav_div ul li {float: left;list-style:none; margin-bottom:10px; padding-right:7px; padding-left:7px; border-right:1px solid #999;}
.f_topnav_div a{color:#333; text-decoration:none; font-size:11px; }
.f_topnav_div a:hover{color:#ed8c1d; text-decoration:none;font-size:11px; }
.f_login{ width:80%; background-color:#f4f1f3; padding:20px; border:1px solid #cecece; border-radius:6px; float:left; margin-left:12px;}
.f_login2{ width:265px; background-color:#f4f1f3; padding:20px; border:1px solid #cecece; border-radius:6px; float:left;}
.f_logindiv{width:auto; float:left; margin-left:12px;}
.f_newlogindiv{width:90%; float:left; padding-left:0px;}
.f_textdiv{float:left; width:auto; margin-top:8px;}	
.f_signupdiv{width:308px; float:left; }
.commuicon_div{float:left; width:20%; margin-bottom:10px;}
.commutxt_div{float:left; width:80%;}
.mar_lft{margin-left:5px;}
.marauto{float:left;margin-left:5px;}
.new_flowid{float:left;width:98%;}
.commu_txt{ font-size:12px;}
.redtxt{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#c00000; font-weight:bold; font-style:italic;}
.blackxt{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; font-weight:bold; font-style:italic;}
}*/