{% extends "base.html" %}
{% load i18n %}
{% block title %}Privacy{% endblock title %}
{% block administration_header %}
{% trans "Add Task" %}
{% endblock administration_header %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<h3>Terms of Use</h3>
		<br />
		<ol>
			<li>
				<strong>Our Company</strong>
				<p>
					<ul>
						<li>
							Osiris Partners FZ LLC (“Osiris”) is a company registered in the Fujairah Creative City Free Zone, Fujairah, UAE; and provides mobile and desktop software for third party use.
						</li>
						<li>
							All material contained in the mobile and desktop software Applications developed by Osiris (including pictures, diagrams and look-and-feel) is the property of Osiris FZ LLC and/or its partners and licensors. Your rights to use the software and related services are limited to those express rights set out in these Terms and Conditions.
						</li>
						<li>
							In consideration of your agreeing to abide by these terms and conditions, we grant you a non-exclusive, non-transferable licence to use the Mobile Application for your own personal, private use for a time limit determined by your health insurer.
						</li>
						<li>
							Osiris can be contacted at the following email address : admin@osirispartners.com
						</li>
						<li>
							Our team reviews all emails and aims to reply within 24h.
						</li>
					</ul>
				</p>
			</li>
			<li>
				<strong>Our Services</strong>
				<p>
					<ul>
						<li>
							Osiris doctors are licensed physicians and Members of Royal College of Physicians of the UK or an equivalent recognised international Board certification.
						</li>
						<li>
							The information provided by Osiris doctors should be used to increase your awareness of the options you may have available to you. If you feel, following your report received from Osiris, that you have been misdiagnosed by your local doctor or that they have given you the wrong treatment we strongly recommend that you return to your local doctor to discuss this with them.
						</li>
						<li>
							To the extent that any information is provided by Osiris, it is based on the images and supporting information you have supplied to us. It is your responsibility to ensure this information is correct and complete and you accept that failure to do so (whether intentionally or not) will affect the quality of the information we provide to you in return.
						</li>
						<li>
							Osiris accepts no responsibility or liability to you for any loss arising out of your use of the Mobile Application or the reports received from Osiris doctors.
						</li>
						<li>
							In the event that you do not fully understand any information given during your consultation with Osiris, it is your responsibility to contact your health insurer who will seek to clarify matters for you and escalate the issue to Osiris.
						</li>
						<li>
							Osiris is not a service for medical emergencies or acute medical conditions.
						</li>
						<li>
							Osiris is not a prescription service and does not offer medicines prescription or prescription fulfilment.
						</li>
						<li>
							We may terminate these terms and conditions and your right to use the Mobile Application immediately by written notice to you if you commit a material or persistent breach of these terms which you fail to remedy (if remediable) within 14 days after service of written notice requiring you to do so.
						</li>
					</ul>
				</p>
			</li>
			<li>
				<strong>Prescriptions</strong>
				<p>
					<ul>
						<li>
							Osiris does not provide prescriptions.
						</li>
						<li>
							Patients are advised to contact a suitable doctor local to them for prescription services.
						</li>
					</ul>

				</p>
			</li>
			<li>
				<strong>Provision of information</strong>
				<p>
					<ul>
						<li>Whilst Osiris makes every effort to ensure that any information given is accurate and complete, you understand and agree that it is provided on an “as is” basis only, without any warranty regarding its accuracy and/or completeness. In addition, the quality of any such information will be dependent on the accuracy and completeness of any relevant medical information provided by you.</li>
						<li>Links to third party Mobile Applications or websites may contain information that are specific to and owned by third-parties. Osiris does not take responsibility for information given on external websites. These links are provided solely as a convenience to you and not as an endorsement or recommendation of the content on such third-party websites or as an indication of any affiliation, sponsorship or endorsement of or by such third-party websites. If you use any links, you will leave the Osiris application. Osiris is not responsible for the content of linked third-party websites and does not make any representations regarding the privacy practices of, or any information or product or accuracy of materials found on such third-party websites. If you decide to access any of the third-party websites linked to this website, you do so entirely at your own risk.</li>
					</ul>
				</p>
			</li>
			<li>
				<strong>Patient Data</strong>
				<p>
					<ul>
						<li>
							All information supplied by you to Osiris will be treated as confidential and will be processed by Osiris in accordance with UAE data protection laws and regulations.					
						</li>
						<li>
							All records are retained in a secure area and can be accessed from Records section on the mobile application.
						</li>
						<li>
							Osiris maintains records of the notes made by doctors during their consultations, in accordance with data processing requirements. These records and any personally identifiable information you give to us will be treated as strictly confidential and will not be disclosed without your express permission except where we are required to do so by law.				
						</li>
						<li>
							Whilst in certain circumstances we may encourage you to inform your usual physician of any health concerns you may have, we will not share information with your physician unless we have your express permission or there is an overriding public interest in disclosing the information without your consent. This is in accordance with the UAE health regulator guidance which may from time-to-time change.
						</li>
						<li>
							By using our Mobile Application, you agree that (i) any information provided by you is true and accurate, is not misleading, and is offered in good faith and (ii) that we may collect and use technical information about the Mobile Application and any related hardware or software to improve the Mobile Application and services to you.
						</li>
						<li>
							Any feedback information provided by users of the Mobile Application may be used by Osiris to improve the quality of the service provided.
						</li>
						<li>
							Osiris monitors the use of its Mobile Application for statistical purposes only and to improve the services provided to users.
						</li>
						<li>
							Osiris runs in a HTTPS secure mode (similar to an online banking platform) and encrypts all images and text information shared between the mobile application and related doctor’s software system. There are clear procedures in place to ensure paper and computer systems and databases are protected against unauthorised disclosure, use, loss and damage. Nevertheless, electronic transmissions are never completely private or secure and there is a risk, therefore, that any electronic communications sent may be intercepted and potentially read by others. You should, therefore, ensure that any computer or telephone you use to access your online patient record is suitably protected from potential interception.
						</li>
					</ul>
				</p>
			</li>
			<li>
				<strong>Limit of Liability</strong>
				<p>
					<ul>
						<li>To the extent permitted by UAE law, Osiris excludes all legal liability arising out of or in connection with your use of the Mobile Application.</li>
						<li>Your use of this Mobile Application, any related services and these Terms and Conditions are governed by UAE Law and all related disputes are subject to the exclusive jurisdiction of the UAE Courts.</li>
						<li>We reserve the right to change these terms and conditions at any time. The new version will be posted on this Mobile Application and will take effect immediately upon posting.</li>
					</ul>
				</p>
			</li>
			<li>
				<strong> Intellectual Property &amp; Trademarks</strong>
				<p>
					<ul>
						<li>
							Osiris and the Osiris logo are the properties of Osiris Partners FZ LLC and should not be copied or used without the written approval of Osiris Partners FZ LLC. The relevant trademark applications have been filed and the pending approval.
						</li>
						<li>
							All intellectual property rights in the Mobile Application are the property of Osiris Partners Limited and cannot be copied or used without the express written approval of Osiris Partners Limited.					
						</li>
					</ul>
				</p>
			</li>
		</ol>
		<span>IF YOU DO NOT AGREE WITH THE TERMS AND CONDITIONS DESCRIBED HEREIN, YOU SHOULD NOT USE OUR SERVICES.</span>
	</div>
</div>
{% endblock %}