<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Skin Experts</title>
	</head>

	<body>
		<table width="700" border="00" cellspacing="00" cellpadding="00" align="center">
			<!-- <tr>
			<td height="30" align="center" valign="middle"><font face="Arial, Helvetica, sans-serif" style="font-size:12px; color:#000;"><a href="#">Click here</a> to View this Newsletter on the web </font></td>
			</tr>-->
			<tr>
				<td align="left" valign="top">
				<table width="700" border="00" cellspacing="00" cellpadding="00" align="center" style="border:1px solid #0e587a;">
					<tr>
						<td height="71" align="left" valign="top">
						<table width="680" border="00" cellspacing="00" cellpadding="00" align="center">
							<tr>
								<td width="529" height="72" align="left" valign="middle">
								<table width="481" border="00" cellspacing="00" cellpadding="00">
									<tr>
										<td width="235" align="left" valign="middle"><a href="http://www.leotechnosoft.net/"><img src="http://{{host}}{{ STATIC_URL }}images/leo--1.png" width="215" height="51" border="0"></a></td>
										<td width="246" align="left" valign="top">&nbsp;</td>
									</tr>
								</table></td>
								<td width="300" align="left" valign="middle"><font face="Verdana, Geneva, sans-serif" style="font-size:20px; color:#0e4158;"><b> <a href="http://www.leotechnosoft.net" style="text-decoration:none;"><font color="#0e4158" style="text-decoration:none;">www.leotechnosoft.net</font></a></b></font></td>
							</tr>
						</table></td>
					</tr>
					<tr>
						<td height="36" align="left" valign="middle" bgcolor="#0e4158"></td>
					</tr>
					<tr>
						<td height="15" align="left" valign="top" bgcolor="#eff1f1">&nbsp;</td>
					</tr>
					<tr>
						<td height="15" align="left" valign="top" bgcolor="#fff">
						<table>
							<tr>
								<td style="padding-left:25px;color:#0e4158;font-size:20px;padding-bottom:20px">Patient Name:</td><td style="padding-left:20px;color:#0e4158;font-size:18px;padding-bottom:20px">{{ episode.patient.profile.user.first_name }} {{ episode.patient.profile.user.last_name }}</td>
							</tr>
							<tr>
								<td style="padding-left:25px;color:#0e4158;font-size:20px;padding-bottom:20px">Episode No:</td><td style="padding-left:20px;color:#0e4158;font-size:18px;padding-bottom:20px">{{ episode.episode_no }}</td>
							</tr>
							<tr>
								<td style="padding-left:25px;color:#0e4158;font-size:20px;padding-bottom:20px">Images</td>
								<td style="padding-left:20px;color:#0e4158;font-size:20px;padding-bottom:20px"><img width="200px" height="200px" src="http://{{host}}{{ MEDIA_URL }}{{ episode.image1 }}"><img style="margin-left:10px"  src="http://{{host}}{{ MEDIA_URL }}{{ episode.image2 }}" width="200px" height="200px"></td>
							</tr>
							<tr>
								<td style="padding-left:25px;color:#0e4158;font-size:20px;padding-bottom:20px">Patient's Comments:</td>
								<td style="padding-left:20px;color:#0e4158;font-size:20px;padding-bottom:20px">{{ episode.comments|default:"N.A." }}</td>
							</tr>
							<tr>
								<td style="padding-left:25px;color:#0e4158;font-size:20px;padding-bottom:20px">Doctor's Comments:</td>
								<td style="padding-left:20px;color:#0e4158;font-size:20px;padding-bottom:20px">{{ episode.feedback|default:"Not yet processed." }} </td>
							</tr>
						</table></td>
					</tr>
					<tr>
						<td height="10" align="left" valign="top" bgcolor="#eff1f1"> &nbsp; </td>
					</tr>

					<tr>
						<td height="70" align="center" valign="middle" bgcolor="#0e4158">
						<table width="700" border="00" cellspacing="00" cellpadding="00">
							<tr>
								<td width="690" align="center" valign="middle" colspan="2"><font face="Verdana, Geneva, sans-serif" style="font-size:11px; color:#fff;"> Copyright &copy; Leo TechnoSoft 2011 All Rights Reserved. </font></td>
							</tr>
						</table></td>
					</tr>
				</table></td>
			</tr>
		</table>
	</body>
</html>
